// Red hat display font importation.
@font-face {
    src: url("../assets/fonts/RedHatRegular.ttf");
    font-family: "RedHatDisplayRegular";
}

// Public sans bold font importation.
@font-face {
    src: url("../assets/fonts/PublicSansBold.ttf");
    font-family: "PublicSansBold";
}

// Oxygen font importation.
@font-face {
    src: url("../assets/fonts/OxygenRegular.ttf");
    font-family: "OxygenRegular";
}
