/*
* @organization: Console Art Cybernetic
* @project: Tiktok Chat Simulation
* @platform: PC (DESKTOP)
* @created: 2022-09-16
* @updated: 2022-09-18
* @framework: React
* @author: Obrymec
* @version: 0.0.1
*/

// Dependencies.
@import "tools.scss";

// Right chat message container.
div.right-chat-msg {
    justify-content: flex-end;
    display: inline-flex;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    // Blank space.
    div.crblank-space {
        min-width: 40%;
    }
    // Chat message data.
    div.chat-msg-data {
        margin-right: 10px;
        // Text.
        label#chat-text {
            background-color: #eee;
            padding: 6px 6px 6px 12px;
            border: 1px solid #ddd;
            display: inline-block;
            border-radius: 6px;
            line-height: 24px;
        }
    }
    // Guest profil.
    div.user-profil {
        min-height: 32px;
        min-width: 32px;
        // Profil representation.
        img {
            border-radius: 32px;
            object-fit: cover;
        }
    }
}
